.task.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

#root > div > div.main-task-list-container > div {
  display: flex;
  justify-content: center;
}